*.png
*.xlsx
*.odt
*.ods
.ipynb_checkpoints/*
shruti/.ipynb_checkpoints/*
shruti/novelty/.ipynb_checkpoints/*
shruti/argminingdata/.ipynb_checkpoints/*
shruti/OCR_workspace/.ipynb_checkpoints/*
shruti/mag_data_extraction/.ipynb_checkpoints/*